:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

/*--------------------HEADER----------------*/
.logo {
  color: var(--navyblue);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo span {
  color: var(--iris);
}
.navigation-item {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-item {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navigation-item:hover,
.navigation-item:focus,
.address-item:hover,
.address-item:focus {
  color: var(--ocean);
}

/*----------------------FOOTER----------------*/
.footer {
  color: var(--cloud);
  background-color: var(--navyblue);
}
.footer .link {
  color: var(--cloud);
}
.footer p {
  color: var(--cloud);
}

/*--------------PORTFOLIO-Progects----------*/
.filter-button {
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloud);
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white);
  background: var(--ocean);
}

/*--------------MAIN PAGE-HERO----------*/
.hero {
  color: var(--white, #fff);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  background-color: var(--navyblue);
}
.hero-button {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: var(--iris);
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

/*--------------OTHER TEXT----------*/
.text-h-two {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.text-h-three {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.text-p {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
