:root {
  --iris: #4d5ae5;
  --pressed-state-color: #404bbf;
  --navyblue: #2e2f42;
  --green-success: #31d0aa;
  --slate: #434455;
  --lightslate-subtle-text: #8e8f99;
  --cornflower-accent: #e7e9fc;
  --cloud-light: #f4f4fd;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--green-success);
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

/*------------HEADER----------------*/
.logo {
  color: var(--navyblue);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo span {
  color: var(--iris);
}
.navigation-item {
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-item {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
